<div class="button-container">
          <button class="slider-button slider-prev" type="button">
            <span class="visually-hidden">Предыдущий девайс</span>
          </button>
          <button class="slider-button slider-next" type="button">
            <span class="visually-hidden">Следующий девайс</span>
          </button>
          <ol class="device-gallery-pagination">
            <li class="device-gallery-pagination-item">
              <button class="device-gallery-pagination-button pagination-button-current" type="button">
                <span class="visually-hidden">Девайс 1</span>
              </button>
            </li>
            <li class="device-gallery-pagination-item">
              <button class="device-gallery-pagination-button" type="button">
                <span class="visually-hidden">Девайс 2</span>
              </button>
            </li>
            <li class="device-gallery-pagination-item">
              <button class="device-gallery-pagination-button" type="button">
                <span class="visually-hidden">Девайс 3</span>
              </button>
            </li>
          </ol>
        </div>

        .button-container {
          width: 1160px;
          margin: 0 auto;
          padding: 0;
          position: relative;
        }

        .slider-button {
          font-family: "Rubik", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          background: none;
          position: absolute;
          margin: 0;
          z-index: 1;
          cursor: pointer;
          width: 20px;
          height: 60px;
          background-image: url("../images/arrow-slider.svg");
          border: none;
          top: 174px;
        }

        .slider-prev {
          left: 30px;
        }

        .slider-next {
          left: 540px;
          transform: rotate(180deg);
        }

        .slider-button:hover {
          opacity: 0.6;
        }

        .slider-button:active {
          opacity: 0.3;
        }

        .slider-button:disabled {
          opacity: 0.1;
        }
